$primary-font: 'Poppins', sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: $primary-font;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #202020;
  --text-color: #fff;
  --main-color: #EF2FB1;
  --dropdown: #171717;
  --links: #d4d3d3;
  --bg-1: #202020;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  transition: all .50s ease;
  background-color: #161616c7;

}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;

  .navegacion {
    margin: 0;
  }

  a {
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;

    &:hover {
      color: var(--links);
    }
  }
}


.main {
  display: flex;
  align-items: center;

  a {
    margin-left: 40px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all .50s ease;

    &:hover {
      color: var(--main-color);
    }
  }
}

.user {
  display: flex;
  align-items: center;

  i {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 7px;
  }
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: var(--text-color);
  line-height: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#inicio {
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#hero {
  min-height: 100vh;
  position: relative;
  margin: auto;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.slider-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 .25rem .5rem #21212126;

  img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 100vh;
  }
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 4.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.movies-main {
  background: var(--bg-1);
  margin: 0;
}

.movies-main-2 {
  background: var(--bg-1);
  margin: 0;
  padding-top: 70px;
}

.movies-main-3 {
  background: var(--bg-1);
  margin: 0;
  padding-top: 90px;
}

.slider-posters {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 40px 10px;
  grid-auto-flow: column;
  column-gap: 1.8rem;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

}

.slider-item {
  position: relative;
  width: 260px;
  animation: slide 40s infinite linear;

  img {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
  }
}



@keyframes slide {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-110%);
  }

  20% {
    transform: translateX(-110%);
  }

  30% {
    transform: translateX(-225%);
  }

  35% {
    transform: translateX(-225%);
  }

  40% {
    transform: translateX(-335%);
  }

  45% {
    transform: translateX(-335%);
  }

  50% {
    transform: translateX(-445%);
  }

  55% {
    transform: translateX(-445%);
  }

  60% {
    transform: translateX(-445%);
  }

  65% {
    transform: translateX(-445%);
  }

  70% {
    transform: translateX(-335%);
  }

  75% {
    transform: translateX(-335%);
  }

  80% {
    transform: translateX(-225%);
  }

  85% {
    transform: translateX(-225%);
  }

  90% {
    transform: translateX(-110%);
  }

  95% {
    transform: translateX(-110%);
  }

  95% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

.title-main {
  padding-top: 30px;
  margin: 0 5%;
  position: relative;
  letter-spacing: .64px;
  color: var(--text-color);
  line-height: 25px;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;

  &:before {
    background: var(--main-color);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    bottom: -15px;
    width: 50px;
  }
}

.movies {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 40px 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  overflow: auto;
}

.movies-item {
  position: relative;
  width: 265px;

  img {
    box-shadow: 5px 5px 10px black;
  }
}


.title-movies {
  padding-top: 30px;
  margin: 0 5.4%;
  position: relative;
  color: var(--text-color);
  font-weight: 400;
  font-size: 20px;

  &:before {
    background: var(--main-color);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    bottom: -15px;
    width: 50px;
  }
}

.movies-p1 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 40px 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  overflow: auto;
}

.movies-item-p1 {
  position: relative;
  width: 265px;

  img {
    box-shadow: 5px 5px 10px black;
  }

  p {
    padding-top: 5px;
    font-weight: 200;
    font-size: 15px;
  }

  a {
    width: 140px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 25px;
    border: 1px solid #797676;
    border-radius: 5px;
    color: var(--text-color);
    text-align: center;
    transition: .5s;
    background-color: #7976762c;
  }
}


.title-p1 {
  padding-top: 100px;
  margin: 0px;
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
}

.movies-p1 {
  .movies-item-p1 {
    a {
      width: 140px;
      text-decoration: none;
      display: inline-block;
      margin: 20px 0px;
      padding: 10px 25px;
      border: 1px solid #797676;
      border-radius: 5px;
      color: var(--text-color);
      text-align: center;
      transition: .5s;
      background-color: #7976762c;
    }
  }
}

.series-p1 {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, .7)), url("../img/movies-bg/s-1.jpg");
  padding: 30px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.peliculas-p1 {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, .7)), url("../img/movies-bg/bg-12.jpg");
  padding: 30px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.series-all {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 40px 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  overflow: auto;

}

.series-item-p1 {
  position: relative;
  width: 545px;

  img {
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
  }


  p {
    padding-top: 10px;
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
  }
}

.series-all {
  .series-item-p1 {
    a {
      width: 180px;
      text-decoration: none;
      display: inline-block;
      margin: 20px 0px;
      padding: 10px 25px;
      border: 1px solid #797676;
      border-radius: 5px;
      color: var(--text-color);
      text-align: center;
      transition: .5s;
      background-color: #7976762c;
    }
  }
}

.title-series {
  padding-top: 80px;
  margin: 0px;
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.movies-p1 {
  .movies-item-p1 {
    a {
      width: 140px;
      text-decoration: none;
      display: inline-block;
      margin: 20px 0px;
      padding: 10px 25px;
      border: 1px solid #797676;
      border-radius: 5px;
      color: var(--text-color);
      text-align: center;
      transition: .5s;
      background-color: #7976762c;
    }
  }
}




.series-all {
  .series-item-p1 {
    p {
      padding-top: 10px;
      font-weight: 200;
      font-size: 1rem;
      margin: 0;
    }
  }
}

.movie-top {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, .7)), url("../img/movies-bg/bg-9.jpg");
  padding: 30px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.serie-top {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, .7)), url("../img/movies-bg/bg-10.jpg");
  padding: 30px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pelicula-top {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.829), rgba(0, 0, 0, .7)), url("../img/movies-bg/bg-13.jpg");
  padding: 30px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.movie-all-top {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 40px 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  overflow: auto;
}

.movie-all-p1 {
  position: relative;
  width: 545px;

  video {
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
  }

  p {
    padding-top: 5px;
    font-weight: 200;
    font-size: 1rem;
    text-align: justify;
    width: 650px;
  }
}

.movie-all-top {
  .movie-all-p1 {
    a {
      width: 180px;
      display: inline-block;
      margin: 20px 0px;
      padding: 10px 50px;
      border: 1px solid #797676;
      border-radius: 5px;
      color: var(--text-color);
      text-align: center;
      transition: .5s;
      background-color: #7976762c;

      &:hover {
        color: var(--main-color);
      }
    }
  }
}

.title-top {
  padding-top: 100px;
  margin: 0;
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  font-size: 40px;
}

video {
  border-radius: 5px;
}

.movie-all-p1 {
  i {
    position: absolute;
    margin-left: -45px;
    margin-top: -11px;
    padding: 5px;
    font-size: 35px;
  }
}

footer {
  background-color: #181717;
  color: var(--text-color);
  margin: auto;
  width: 100%;

  img {
    padding-top: 20px;
    margin: 0;
  }

}

.footer-logo {
  padding-left: 100px;
  margin: 0;
}

.social-media {
  margin-left: 100px;
  margin-bottom: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: var(--main-color);
    }
  }

  i {
    font-size: 24px;
  }
}


.footer-text {
  width: 28%;
  margin-left: 85px;
  font-weight: 200;
  font-size: 13px;
  padding: 0 0 20px 1.2rem;
  text-align: justify;
}

.copyright {
  padding: 1.25% 0;
  background-color: #0e0d0d;
  font-weight: 200;
  font-size: 13px;
}

.container-fluid {
  padding: 0 100px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-md-6 {
  position: relative;
  width: 50%;
  padding-right: 15px;
  padding-left: 20px;
}

.text-right {
  text-align: right;
}

.copyright-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        display: block;
        color: var(--text-color);
        text-align: left;
        padding-left: 15px;
        margin-bottom: 0;
        text-decoration: none;
      }
    }
  }
}

.contacto {
  padding-top: 110px;
  background: #202020;
  margin: 0;
}

.peliculas-p1 {
  p {
    padding-top: 30px;
    margin-left: 110px;
  }
}

form {
  margin-left: 100px;
  width: 30%;
  background-color: #1b1b1b;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 4px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

@import "mediaquerys";